body {
    padding: 0;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    font-family: 'Vina Sans', cursive;
}


.container {
    width: 100%;
    border-left: 5px solid black;
    text-align: center;
    background-image: url(../images/backgrundRigth.jpeg);
    background-size: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

h1 {
    font-size: 4.5em;
    -webkit-text-stroke: 2px black;
    color: white;
    margin: 30px auto;
}

h2 {
    font-size: 3em;
    -webkit-text-stroke: 2px black;
    color: white;
    margin: 0 auto;

    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

footer p {
    font-size: 1.7em;
    -webkit-text-stroke: 2px black;
    color: white;
}

.score-container {
    font-size: 3.6em;
    margin: 20px;
    -webkit-text-stroke: 2px black;
    color: white;
}

.score {
    font-size: 1.2em;
}

.hidden {
    display: none;
}

.hidden2 {
    visibility: hidden;
}

.new-score-cont {
    display: flex;
    flex-direction: column;
}

.new-score-cont p {
    font-size: 1.9em;
    -webkit-text-stroke: 2px black;
    color: white;
}

.new-score-cont input {
    text-align: center;
    align-items: center;
    width: 300px;
    padding: 10px;
    margin: 15px auto;
    background-color: none;
    font-size: 1.3em;
    outline: none;
    border-radius: 5px;
}

.new-score-cont a {
    text-decoration: none;
    font-size: 1.1em;
    width: 100px;
    margin: 0 auto;
}

.btn {
    border: 2px black solid;
    background-color: #10dd01;
    color: white;
    margin: 0 auto;
    padding: 10px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    display: block;
    font-size: 2em;
    text-decoration: none;
}

a {
    text-decoration: none;
    -webkit-text-stroke: 2px black;
}


.btn:hover {
    background-color: #63a106;
    scale: 95%;
}

.rank-container ul li {
    list-style: decimal-leading-zero;
}

.rank-container {
    font-size: 3em;
    margin: 25px auto;
    -webkit-text-stroke: 2px black;
    color: white;
}

.rank-container h3 {
    text-decoration: dashed;
}

.no-score {
    font-size: 1.9em;
    -webkit-text-stroke: 2px black;
    color: white;
}



@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}